@import "../../../App.scss";

.create-book{


    .row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @include mobile{
            flex-direction: column;
        }
    }

    &__btn{
        min-width: 150px;
    }
}