@import "../../../App.scss";

.home {
    height: 100%;

    @include mobile{
        padding: 0 20px;
    }

    &__content{
        position: relative;
        height: 100%;
    }
    
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  &__empty{
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}

.search-wrapper {
  display: flex;
  margin-bottom: 20px;

  &__input-wrapper {
    width: 100%;
    margin-right: 20px;
    position: relative;

    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
        cursor: pointer;

        &:hover{
            color: var(--highlight-primary)
        }
    }
  }

  &__input {
    width: 95%;
    border: 2px solid var(--text-primary);
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 20px;

    @include mobile{
        width: 90%;
    }

    &:active,
    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-color: #000000;
    outline: none;
    box-shadow: none;
    color: var(--text-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
